.custom-Scroll {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.custom-Scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}